@media only screen and (max-width: 992px) {

    .mobile-menu{
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: #3C3A39;
        overflow-y: hidden;
        transition: 0.5s;   

    }
    .content{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .mobile-menu a{
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #FFF5E1;
        display: block;
        transition: 0.3s;
    }
    .mobile-menu .closebtn {
        position: absolute;
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}
